<h1>Welcome to Magic Goat!</h1>
<body style="background-color:powderblue;"></body>
<img src="http://i.imgur.com/OUNyd.jpg" width= "600" height= "400" alt="Magic Goat">
<p>It is now <%= Time.now %>.</p>
<p> Go to our <%= link_to "contact", contact_path %>. </p>