<h1>Contact Magic Goat</h1>
<body style="background-color:powderblue;"></body>
<img src="https://secure.static.tumblr.com/d65d49943e5194fd1fd6c2ac6722666e/yagpgom/Ruqnm3gyj/tumblr_static_tumblr_static_4l31vl74d7acwsccsg0skk40g_640.jpg">
<p>Hit us up at magicgoat@magicgoat.com</p>
<p> Go to our <%= link_to "about", about_path %>. </p>